[submodule "submodules/diff-gaussian-rasterization-depth"]
	path = submodules/diff-gaussian-rasterization-depth
	url = https://github.com/weizenyang/diff-gaussian-rasterization.git
[submodule "submodules/MoGe"]
	path = submodules/MoGe
	url = https://github.com/weizenyang/MoGe.git
[submodule "submodules/fused-ssim"]
	path = submodules/fused-ssim
	url = https://github.com/weizenyang/fused-ssim.git
[submodule "submodules/FlowEdit"]
	path = submodules/FlowEdit
	url = https://github.com/weizenyang/FlowEdit.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/weizenyang/simple-knn.git
